@import "types/float";
//@import "types/on-click";
//@import "types/on-hover";
//@import "types/slide-in";

.qodef-header-vertical {
    .qodef-vertical-menu-opener{
        text-align: center;

        .qodef-line {
            background-color: #000;
            height: 3px;
            margin: 0;
            width: 23px;
            top: 0;
            left: 0;
            @include qodefTransition(all 0.3s ease-out);
            position: relative;
            display: inline-block;
            border-radius: 6px;
        }

        .qodef-line:after,
        .qodef-line:before {
            background-color: inherit;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            width: 23px;
            z-index: 1;
            border-radius: 6px;
            -webkit-backface-visibility: hidden; /*because X sign jumps on hover in Chrome*/
        }

        .qodef-line:before {
            top: -7px;
        }

        .qodef-line:after {
            top: 7px;
        }

        a{
            font-size: 35px;
            color: #000;
            display: inline-block;
            position: relative;
            @include qodefTransition(color 0.3s ease);
        }
    }

    .qodef-vertical-menu-nav-holder-outer{
        width: 66%;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        @include qodefTransform(translateX(-100%));
        @include qodefTransition(transform 0.3s ease);
        z-index: 1;

        &.active{
            @include qodefTransform(translateX(0%));
        }

        .qodef-vertical-menu-nav-holder{
            background-color: #000;
            display: table;
            height: 100%;
            width: 100%;

            .qodef-vertical-menu-holder-nav-inner{
                display: table-cell;
                vertical-align: middle;
                padding: 100px 0px;
            }

            nav.qodef-fullscreen-menu{
                padding: 0 5% 0 20%;
            }
        }
    }

    .qodef-vertical-menu {
        position: relative;
        z-index: 101;
        text-align: left;

        ul {
            position: relative;
            list-style-type: none;
        }

        > ul > li {
            position: relative;
            width: 210px;
        }

        ul li a:hover {
            color: #fff;
        }

        & > ul > li > a {
            position: relative;
            display: block;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 1px;
            font-weight: 500;
            color: #fff;
            padding: 12px 0px;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0;
            cursor: pointer;

            @include qodefTransition(
                color 0.15s ease-out,
                text-decoration 0.15s ease-out,
                background-color 0.15s ease-out
            );

        }

        & > ul > li > a:before {
            content: '';
            display: block;
            opacity: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            background-color: $first-main-color;
            -webkit-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            -moz-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            -o-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            -ms-transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            transition: background-color 0.2s ease-out, opacity 0.2s ease-out;

            @include qodefTransition(background-color 0.2s ease-out, opacity 0.2s ease-out);
        }

        & > ul > li > a:after {
            display: none;
            height: 1px;
            width: 44px;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $first-main-color;
        }

        & > ul > li > a > span.qodef-item-inner {
            @include qodefTransition(text-decoration 0.2s ease-out);
        }
        
        & > ul > li:last-child > a:after {
            content: none;
        }

        ul > li.menu-item-has-children > a .plus {
            width: 14px;
            height: 14px;
            z-index: 10000;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            color: #9d9d9d;
            font-size: 14px;
            line-height: 14px;
            font-family: 'ElegantIcons';
            cursor: pointer;

            @include qodefTransform(translateY(-50%));
        }

        ul > li.menu-item-has-children > a .plus:before {
            content: "\4c";
        }

        ul > li.menu-item-has-children.open > a .plus:before,
        ul > li.menu-item-has-children.current-menu-ancestor > a .plus:before {
            content: "\4b";
        }

        ul > li.menu-item-has-children a .plus {
            display: none;
        }

        .qodef-menu-second .inner {
            position: relative;
            display: block;
            padding: 0;
            z-index: 997;
        }

        .qodef-menu-icon:not(.blank):not(.null) {
            padding-right: 5px;
        }
    }
}