.qodef-header-vertical {
    .qodef-vertical-area-widget-holder{
        width: 100%;
        z-index: 100;
        position: absolute;
        bottom: 20px;
        left: 0;

        .qodef-vertical-header-widget {
            text-align: center;
            padding: 5px 0;

            > div,
            > a,
            > span {
                position: relative;
                display: inline-block;
                padding: 0;
            }
        }

        .qodef-social-icon-widget-holder{
            display: block;
            text-align: center;
            padding: 5px 0;

            &:hover{
                color: #000 !important;
            }
        }
    }

    .qodef-vertical-menu-area.opened {
        .qodef-social-icon-widget-holder{
            &:hover{
                color: #fff !important;
            }
        }
    }
}