/* ==========================================================================
# Search style - begin
========================================================================== */

.qodef-search-opener {
	@include qodefTransition(all 0.15s ease-out);
	font-size: 17px;
	padding-left: 15px;
	top: 2px;
	position: relative;

	.qodef-search-icon-text {
		@include qodefTransition(all 0.15s ease-out);
	}
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-search-opener,
.qodef-light-header.qodef-header-style-on-scroll .qodef-page-header .qodef-search-opener,
.qodef-light-header .qodef-top-bar .qodef-search-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener
	&:hover {
		color: #eae9e9 !important;
	}
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-search-opener,
.qodef-dark-header.qodef-header-style-on-scroll .qodef-page-header .qodef-search-opener,
.qodef-dark-header .qodef-top-bar .qodef-search-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
	&:hover {
		color: #313131 !important;
	}
}


/* Search covers header - begin
========================================================================== */

.qodef-search-cover {
	display: none;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 115;
	background:#fff;

	.qodef-form-holder-outer {
		display: table;
		width: 100%;
		height:100%;
	}

	.qodef-form-holder {
		display: table-cell;
		vertical-align: middle;
		padding:0 45px;
		position:relative;
	}

	.qodef-form-holder-inner {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 100%;
	}

	.qodef-container-inner {

		.qodef-form-holder {
			padding: 0;
		}

		.qodef-search-close {
			right: 0;
		}

	}

	input,
	input:focus {
		background-color: transparent;
		border: medium none;
		box-shadow: none;
		color: #696969;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		width: 90%;
		padding:0;
		font-family: inherit;
		outline: none;
		outline-offset:0px;
		-webkit-appearance: none;
		border-radius: 0;
		float: left;
		text-transform: uppercase;
		margin: 0;
	}

	input:focus {
		outline-offset: 0 !important;
	}

	input[type="submit"] {
		border: 0 none;
		clip: rect(0px,0px,0px,0px);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
		visibility: hidden;
	}

	.qodef-search-close {
		font-size: 30px;
		position: absolute;
		right: 24px;
		top:50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height:1em;
	}

	.qodef-search-close {

		a {
			color: #9d9d9d;
			display: inline-block;
		}

		a:hover {
			color: $first-main-color;
		}

		a i {
			vertical-align: top;
		}

	}

}

.qodef-search-cover.disabled {

	input,
	input:focus{
		font-weight: normal;
	}

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder{
	color: #959595;
	margin: 10px 0px 0px 0px;
}

/* Fullscreen search general style - start
========================================================================== */

.qodef-fullscreen-search-holder {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:105;
	opacity:0;

	.qodef-field-holder {
		width: 54%;
		display:inline-block;
		vertical-align:bottom;
		position:relative;
		border-bottom: 2px solid #666;
	}

	.qodef-search-field {
		position:relative;
		width:100%;
		border-left:none;
		border-top:none;
		border-right:none;
		border-bottom:none;
		background:transparent;
		outline:none;
		height:100%;
		font-size: 30px;
		color: #fff;
		line-height: 1.35em;
		padding: 0 0 20px;
		font-weight: 600;

		@include qodefPlaceholder {
			color: #fff;
		}
	}


	.qodef-search-submit {
		position: absolute;
		bottom: 10px;
		right: 0;
		border:none;
		background:transparent;
		outline:none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size: 30px;
		line-height: 1.5em;
		letter-spacing: -2px;
		color: #fff;
		@include qodefTransition(color 0.2s ease, opacity 0.2s ease);
		float: right;

		&:hover{
			opacity: 0.8;
		}
	}

	.qodef-search-close-holder {
		float:right;
		margin-right: 45px;
		font-size: 30px;
	}

	.qodef-fullscreen-search-close-container {
		position:absolute;
		left:0;
		top:0;
		width:100%;

		a {
			opacity:0;
			visibility:hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			top: 40px;
			right: 40px;
			color: #fff;
			&:hover {
				opacity: 0.8;
			}
		}

	}

}

.qodef-fullscreen-search-table {
	display: table;
	width:100%;
	height:100%;
}

.qodef-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	height:100%;
	text-align:center;
}

//Fix for woocommerce page
.qodef-fullscreen-search-opened .qodef-form-holder .qodef-search-field {
	width:100%;
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:none;
	background:transparent;
	outline:none;
	height:100%;
	font-size: 30px;
	color: #fff;
	line-height: 1em;
	position:relative;
	padding: 0 0 20px;
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.qodef-search-fade .qodef-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index:111;
	box-sizing: border-box;

	.qodef-fullscreen-search-table {
		background-color:#000;
	}
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder {
	@include qodefAnimation(search_fade_out .35s cubic-bezier(0.84,-0.29, 0.25, 1) both);
}

.qodef-search-fade-in.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate{
	@include qodefAnimation(search_fade_in .45s cubic-bezier(0.84,-0.29, 0.25, 1) both);
}

.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate .qodef-fullscreen-search-close {
	opacity:1;
	visibility:visible;
}


@-webkit-keyframes search_fade_out {
	0%{
		opacity:1;
		visibility: visible;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}
@keyframes search_fade_out{
	0%{
		opacity:1;
		visibility: visible;
	}
	100% {
		opacity:0;
		visibility: hidden;
	}
}
@-webkit-keyframes search_fade_in {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}
@keyframes search_fade_in{
	0%{
		opacity:0;
		visibility: hidden;
	}
	100%{
		opacity:1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px)
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

@keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

.qodef-search-fade.qodef-fullscreen-search-opened .qodef-fullscreen-search-holder .qodef-form-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefAnimation(search_push_text_top .6s cubic-bezier(0.84,-0.29, 0.25, 1) both .1s);
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder .qodef-search-label,
.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder .qodef-search-submit,
.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder .qodef-field-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	opacity:0;
	@include qodefTransition(transform 0.35s cubic-bezier(0.84,-0.29, 0.25, 1));
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/

/* Search Results style - start
========================================================================== */
.search-results  {
	article {
		border-bottom: 1px solid $default-border-color;
		padding-bottom: 75px;
	}

	.qodef-blog-holder article .qodef-post-text-inner > h4:not(.qodef-post-title) {
		margin-bottom: 25px;
	}

	.qodef-blog-holder article.format-link .qodef-post-content,
	.qodef-blog-holder article.format-quote .qodef-post-content {
		background: transparent;
	}

	.qodef-blog-holder article.format-link .qodef-post-content .qodef-post-text,
	.qodef-blog-holder article.format-quote .qodef-post-content .qodef-post-text{
		padding: 0;
	}

	.qodef-content .qodef-content-inner > .qodef-container > .qodef-container-inner {
		padding: 45px 0;
	}
}

/* Search Results style - end
========================================================================== */

/* ==========================================================================
# Search style - end
========================================================================== */


