.qodef-header-full-screen {

    .qodef-menu-area {
        background-color: #fff;
		border-bottom: 1px solid transparent;
		box-sizing: border-box;
    }

	.qodef-vertical-align-containers{

		.qodef-position-right-inner{

			.widget {
				display: inline-block;
				vertical-align: middle;
			}
		}

	}

}

