/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@import 'variables';
@import 'mixins';

.qodef-woocommerce-page {
    .woocommerce-result-count,
    .woocommerce-ordering {
        @include phone-portrait {
            width: 100%;
            margin-bottom: 2%;
        }
    }

    .woocommerce-result-count {
        @include phone-portrait {
            text-align: center;
        }
    }

    .woocommerce-ordering .orderby {
        @include phone-portrait {
            display: block;
            float: none;
            margin: 0 auto;
        }
    }
}

.woocommerce.columns-4,
.qodef-woocommerce-page.qodef-woocommerce-columns-4 {
    .products .product {
        @include ipad-landscape {
            width: 49%;
            margin-right: 2%;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                clear: both;
                margin-right: 2%;
                margin-bottom: 30px;
            }

            &:nth-child(3n+1),
            &:nth-child(4n+1) {
                clear: none;
            }
        }

        @include phone-portrait {
            width: 100%;
            margin-right: 0;
        }
    }

    .qodef-woocommerce-with-sidebar .products .product {
        @include ipad-landscape {
            width: 49%;
            margin-right: 2%;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                clear: both;
                margin-right: 2%;
                margin-bottom: 30px;
            }

            &:nth-child(3n+1),
            &:nth-child(4n+1) {
                clear: none;
            }
        }

        @include phone-portrait {
            width: 100%;
            margin-right: 0;
        }
    }
}

.woocommerce.columns-3,
.qodef-woocommerce-page.qodef-woocommerce-columns-3 {
    .products .product {
        @include ipad-landscape {
            width: 49%;
            margin-right: 2%;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                clear: both;
                margin-right: 2%;
                margin-bottom: 30px;
            }

            &:nth-child(3n+1),
            &:nth-child(4n+1) {
                clear: none;
            }
        }

        @include phone-portrait {
            width: 100%;
            margin-right: 0;
        }
    }

    .qodef-woocommerce-with-sidebar .products .product {
        @include ipad-portrait {
            width: 100%;
        }
    }
}

/* Woocommerce product list - end
========================================================================== */

/* Woocommerce single product - begin
========================================================================== */

.qodef-single-product-images,
.qodef-single-product-summary {
    @include ipad-portrait {
        width: 100%;
        margin: 0;
    }

}

.qodef-woocommerce-page .qodef-three-columns .qodef-column {
    @include ipad-portrait {
        width: 33.33%;
    }
}

.variations_form .variations {
    @media only screen and (max-width: $ipad-landscape) and (min-width: $ipad-portrait - 1px) {
        td {
            padding: 5px 6px;
        }
    }

    @include phone-portrait {
        td {
            display: block;
            padding: 7px 0;
        }
    }
}

.woocommerce-Reviews {
    @include phone-landscape {
        .avatar {
            float: none;
            padding: 0;
            margin-bottom: 20px;
        }
        .comment-text {
            padding-left: 0;
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: $ipad-landscape) and (min-width: $ipad-portrait + 1px) {
    .single-product .qodef-single-product-summary .qodef-btn {
        padding: 17px 22px;
    }
}

@include ipad-portrait {
    .single-product .qodef-single-product-summary {
        width: 100%;
        padding-top: 30px;
    }

    .single-product .qodef-tabs.qodef-horizontal-tab .qodef-tabs-nav li a {
        padding: 15px 21px;
    }
}

@include phone-portrait {
    .single-product .qodef-single-product-summary {
        .cart {
            display: inline-block;
            vertical-align: middle;
        }

        .qodef-quantity-buttons {
            float: left;
        }

        .qodef-btn {
            float: left;
            margin: 10px 0 0;
            clear: both;
        }
    }
}

/* Woocommerce single product - end
========================================================================== */

/* Woocommerce quantity buttons - begin
========================================================================== */

//.qodef-woocommerce-page .qodef-quantity-buttons {
//	.qodef-quantity-minus,
//	.qodef-quantity-plus,
//	.qodef-quantity-input {
//		@include phone-landscape {
//			width: 22px;
//			height: 22px;
//			line-height: 22px;
//		}
//	}
//}

/* Woocommerce quantity buttons - end
========================================================================== */

/* Woocommerce table - begin
========================================================================== */

.qodef-woocommerce-page {
    table td {
        @include phone-landscape {
            padding: 5px 5px;
        }

    }

    td.product-thumbnail img {
        @include phone-portrait {
            display: none;
        }
    }

    td.actions {
        .coupon,
        .qodef-cart-proceed-update {
            @include phone-landscape {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .qodef-cart-proceed-update .checkout-button {
            @include phone-landscape {
                float: left;
            }
        }
    }

    .coupon {
        input[type="text"] {
            @include ipad-portrait {
                width: 150px;
            }
        }
    }
}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.qodef-woocommerce-page {
    .qodef-shipping-calculator {
        @include phone-landscape {
            width: 100%;
            margin-bottom: 25px;
        }
    }
}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.qodef-woocommerce-page {
    .qodef-cart-totals {
        @include phone-landscape {
            width: 100%;
        }
    }
}

/* Woocommerce totals - end
========================================================================== */

/* Woocommerce checkout - begin
========================================================================== */

.qodef-woocommerce-page {
    .woocommerce-checkout .col-1,
    .woocommerce-checkout .col-2 {
        @include ipad-portrait {
            width: 100%;
        }
    }

}

/* Woocommerce checkout - end
========================================================================== */

/* Woocommerce Account - begin
========================================================================== */
.woocommerce-account {
    @include phone-landscape {
        .woocommerce-MyAccount-content,
        .woocommerce-MyAccount-navigation {
            float: none;
            width: 100%;
        }

        .woocommerce-MyAccount-content {
            margin-top: 40px;
        }
    }
}

/* Woocommerce Account - end
========================================================================== */

/* Woocommerce dropdown cart - begin
========================================================================== */

@media only screen and (max-width: $ipad-landscape) {
    .qodef-shopping-cart-outer:hover {
        .qodef-shopping-cart-dropdown {
            display: none;
            visibility: hidden;
        }
    }

    .qodef-top-bar .qodef-shopping-cart-outer {
        float: none;
    }
}

@media only screen and (max-width: $smaller-phone-portrait) {
    .qodef-shopping-cart-outer {
        display: none;
    }
}

/* Woocommerce dropdown cart - begin
========================================================================== */

/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */

/*===========================================================
#Cart & Checkout page
=============================================================*/
.woocommerce-cart {
    .shop_table td {
        @include smaller-phone-portrait {
            padding: 3px 0;
        }
    }

    .shop_table th h4 {
        @include laptop-landscape {
            font-size: 26px;
        }

        @include ipad-landscape {
            font-size: 22px;
        }

        @include phone-landscape {
            font-size: 18px;
        }

        @include phone-portrait {
            font-size: 16px;
        }
    }

    .shop_table td h6 {
        @include laptop-landscape {
            font-size: 16px;
        }

        @include ipad-landscape {
            font-size: 14px;
        }

        @include phone-landscape {
            font-size: 12px;
        }

        @include phone-portrait {
            font-size: 10px;
        }
    }

    td.product-thumbnail img {
        @include phone-landscape {
            display: none;
        }
    }

    .product-thumbnail,
    .cart_item .product-thumbnail {
        width: 0;
        padding: 0;
    }

    .qodef-quantity-buttons .qodef-quantity-input {
        @include phone-landscape {
            width: 30px;
        }
    }

    .amount {
        @include phone-portrait {
            font-size: 14px;
        }
    }

    .product-remove {
        @include ipad-landscape {
            padding: 5px 3px;
        }
    }

    .remove {
        @include ipad-landscape {
            font-size: 17px;
        }
    }

    &.qodef-woocommerce-page .coupon input[type="text"] {
        @include laptop-landscape {
            width: 200px;
            margin-bottom: 9px;
        }
    }

    &.qodef-woocommerce-page td.actions .coupon,
    &.qodef-woocommerce-page td.actions .qodef-cart-proceed-update {
        @include laptop-landscape {
            width: 100% !important;
            text-align: right !important;
        }
    }

    &.qodef-woocommerce-page td.actions .coupon {
        @include laptop-landscape {
            margin-bottom: 9px;
        }
    }
}