.qodef-btn {
    display: inline-block;
    position: relative;
    outline: none;
    font-style: normal;
    font-weight: 600;
    font-family: inherit;
	padding: 17px 58px;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    border-radius: 0;
    text-transform: lowercase;

    @include qodefTransition(color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out);
    @include qodefBoxSizing(border-box);

    &.qodef-btn-solid {
        background-color: $default-heading-color;
        border: 2px solid $default-heading-color;
        color: #fff;

        &:not(.qodef-btn-custom-hover-color):not(.qodef-btn-light):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            color: #fff !important;
        }

        &:not(.qodef-btn-custom-hover-bg):not(.qodef-btn-light):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            background-color: $btn-hover-background !important;
        }

        &:not(.qodef-btn-custom-border-hover):not(.qodef-btn-light):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            border-color: $btn-hover-background !important;
        }
        &.qodef-btn-light {
            border-color: $header-light-color;
            background-color: $header-light-color;
            color: $first-main-color;
            &:hover {
                background-color: transparent;
                border-color: #fff;
                color: #fff;
            }
        }
    }

    &.qodef-btn-outline {
        border: 2px solid $default-heading-color;
        color: $default-heading-color;
        background-color: transparent;
        
        &:not(.qodef-btn-custom-hover-bg):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            background-color: $first-main-color !important;
            color: #fff!important;
        }

        &:not(.qodef-btn-custom-border-hover):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            border-color: $first-main-color !important;
        }

        &.qodef-btn-light {
            border-color: $header-light-color;
            color: $header-light-color;

            &:hover {
                background-color: $first-main-color;
                border-color: $first-main-color;
            }
        }
    }

    &.qodef-btn-small {
		padding: 17px 49px;
    }

    &.qodef-btn-medium {
        //same as default
    }

    &.qodef-btn-large {
        font-size: 16px;
        padding: 19px 53px;
    }

    &.qodef-btn-huge,
    &.qodef-btn-huge-full-width {
        font-size: 17px;
        padding: 21px 67px
    }

    &.qodef-btn-huge-full-width {
        display: block;
        text-align: center;
    }

    &.qodef-btn-icon .qodef-btn-text {
        margin-right: 10px;
    }
    
}

input[type=submit].qodef-btn,
button.qodef-btn {
    cursor: pointer;
}