/* ==========================================================================
# Countdown style - begin
========================================================================== */
/* jQuery Countdown styles 2.0.0. */
.countdown-rtl {
	direction: rtl;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0 2px;
	text-align: center;
}

$columns_show: (1, 2, 3, 4, 5, 6, 7);
$columns_width: (98%, 48%, 32.5%, 24.5%, 19.5%, 16.25%, 14%);

@for $i from 0 to length($columns_show) {
	.countdown-show#{nth($columns_show,$i+1)} {
		$column_width: nth($columns_width,$i+1);

		.countdown-section {
			width: $column_width;
		}
	}
}


.qodef-countdown {
	font-weight: 600;
}

.countdown-section {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: inherit;
	color: $default-heading-color;

	&:last-child{

		.countdown-amount {

			&:after {
				display: none;
			}
		}
	}
}

.countdown-amount {
	display: block;
	position: relative;
	font-size: 90px;
	line-height: 1em;
	font-weight: 600;
	letter-spacing: -4px;
	margin-bottom: 10px;
	color: inherit;
}

.countdown-period {
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: inherit;
}

.countdown-descr {
	display: block;
	width: 100%;
}

/* ==========================================================================
# Countdown style - end
========================================================================== */