.qodef-icon-shortcode {
    $transition-duration: 0.15s;

    display: inline-block;

    &.circle,
    &.square {
        background-color: $first-main-color;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;

        @include qodefTransition(
                background-color $transition-duration ease-in-out,
                border-color $transition-duration ease-in-out
        );

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .qodef-icon-element {
            color: #fff;
            line-height: inherit;
        }
    }

    &.circle {
        @include qodefBorderRadius(50%);
    }

    a {
        color: #fff;
        &:hover {
            color: $first-main-color;
        }
    }
}

.qodef-icon-animation-holder {
    @include qodefTransform(scale(0));
    @include qodefTransition(transform 0.15s ease-in-out);
    display: inline-block;

    &.qodef-icon-animation-show {
        @include qodefTransform(scale(1));
    }
}

.qodef-icon-tiny {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.qodef-icon-small {
    font-size: 2em;
}

.qodef-icon-medium {
    font-size: 3em;
}

.qodef-icon-large {
    font-size: 4em;;
}

.qodef-icon-huge {
    font-size: 5em;
}