/* ==========================================================================
   Section Title styles - begin
   ========================================================================== */
.qodef-section-title {

	.qodef-section-before-text {
		margin: 0 0 18px;
	}

	p {

		&.qodef-section-before-text {
			font-size: 16px;
			font-weight: 600;
		}
	}
}

/* ==========================================================================
   Section Title styles - end
   ========================================================================== */