/* ==========================================================================
# Social Share style - begin
========================================================================== */


.qodef-social-share-holder {

	ul {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	/* List type - begin
	========================================================================== */
	&.qodef-list {

		li {
			display: inline-block;
			margin: 0 25px 0 0;

			a {
				font-size: 18px;
				color: $default-text-color;

				&:hover{
					color: $first-main-color;
				}
			}

			&:last-child {
				margin: 0;
			}

			.qodef-social-network-icon {
				vertical-align: baseline;
			}
		}

		.qodef-social-share-title {
			font-size: 20px;
			color: $default-text-color;
			margin-right: 12px;
			font-weight: 400;
		}
	}
	/* List type - end
	========================================================================== */


	/* Dropdown type - begin
	========================================================================== */
	&.qodef-dropdown {
		position: relative;
		display: inline-block;

		.qodef-social-share-dropdown-opener {
			display: block;
		}

		.qodef-social-share-title {
			display: inline-block;
			margin-left: 5px;
		}

		.qodef-social-share-dropdown {
			visibility: hidden;
			z-index: 950;
			float: left;

			ul {
				position: relative;
				display: block;
				z-index: 990;
				padding: 0 !important;
				min-width: 50px;
				font-weight: 400;
			}

			ul li {
				visibility: hidden;
				position: absolute;
				text-align: center;
				min-width: 50px;
				float:left;
				opacity: 0.2;
				@include qodefTransition(all 0.2s ease-out);
			}

			img {
				width: 8px;
				margin-right: 10px;
			}
		}

		&:hover {

			.qodef-social-share-dropdown ul li {
				opacity: 1;
				visibility: visible;
				cursor: pointer;
			}

			.qodef-social-share-dropdown ul li {

				&:nth-child(2) {
					left: 50px;
					transition-delay: .1s;
				}

				&:nth-child(3){
					left: 100px;
					transition-delay: .2s;
				}

				&:nth-child(4){
					left: 150px;
					transition-delay: .3s;
				}

				&:nth-child(5){
					left: 200px;
					transition-delay: .4s;
				}

				&:nth-child(6){
					left: 250px;
					transition-delay: 0.5s;
				}

				&:nth-child(7){
					left: 300px;
					transition-delay: 0.6s;
				}

			}

		}

		/* Dropdown type - end
		========================================================================== */
	}
}

/* ==========================================================================
# Social Share style - end
========================================================================== */








