/* ==========================================================================
# Tabs style - begin
========================================================================== */
.qodef-tabs {
    
    .qodef-tabs-nav {
        display: block;
        position: relative;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        vertical-align: middle;
        @include qodefBoxSizing(border-box);

        li {
            margin: 0;

            a {
                position: relative;
                display: block;
                text-transform: uppercase;
                color: $default-heading-color;
                border-bottom: 2px solid $default-border-color;
                @include qodefBoxSizing(border-box);
                @include qodefTransition(color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out);

                i,
                span {
                    @include qodefTransition(initial);
                }

                .qodef-icon-frame {
                    display: inline-block;
                    min-width: 20px;
                    line-height: 1;
                    vertical-align: middle;
                }

                .qodef-tab-text-after-icon {
                    @include qodefTransition(initial);
                    vertical-align: middle;
                }
            }
        }
    }

    .qodef-tab-container {
        position: relative;
        @include qodefBoxSizing(border-box);
    }
}

/* Icon tabs styles
   ========================================================================== */
.qodef-tabs.qodef-horizontal-tab.qodef-tab-with-icon ul li a {

    .qodef-tab-text-after-icon {
        padding: 0 4px 0 0;
        display: inline-block;
    }
}

.qodef-tabs.qodef-vertical-tab.qodef-tab-with-icon ul li a {

    .qodef-tab-text-after-icon {
        padding: 0 0 0 13px;
        display: inline-block;
        position: absolute;
    }
}

.qodef-tabs.qodef-tab-with-icon ul li:hover .qodef-icon-frame  {
    @include qodefAnimation(qodef-appear .35s forwards ease);
}

@include keyframes(qodef-appear) {
    0% {
        opacity: 0;
        @include qodefTransform(translateX(25px));
    }
    30% {
        opacity: .1;
        @include qodefTransform(translateX(15px));
    }
    100% {
        opacity: 1;
        @include qodefTransform(translateX(0px));
    }
}

/* Horizontal tabs styles
   ========================================================================== */
.qodef-tabs.qodef-horizontal-tab {
    
    .qodef-tabs-nav li {
        float: left;

        a {
            text-align: center;
            padding: 19px 42px;
        }

        &.ui-state-active a,
        &.ui-state-hover a {
            border-bottom: 2px solid $first-main-color;
        }
    }

    .qodef-tab-container {
        padding: 25px 10px 25px 0;
    }
}

/* Vertical tabs styles
   ========================================================================== */
.qodef-tabs.qodef-vertical-tab {
    
    .qodef-tabs-nav {
        float: left;
        width: 23%;

        li {
            position: relative;
            display: block;
            width: 100%;

            a {
                color: $default-heading-color;
	            margin-right:0;
	            margin-bottom:1px;
                padding: 15px 9px;
            }

            &.ui-state-active a,
            &.ui-state-hover a {
                border-bottom: 2px solid $first-main-color;
            }

            &:last-child {
                margin: 0;
            }
        }   
    }

    .qodef-tab-container {
        float: left;
        width: 77%;
        padding: 10px 30px;
    }
}

.qodef-tabs.qodef-vertical-tab.qodef-tab-only-icon {
    
    .qodef-tabs-nav li a {
        text-align: center;
    }
}
/* ==========================================================================
# Tabs style - end
========================================================================== */